################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/moo-data-sheets/Assets/planets/*.png
/moo-data-sheets/bin/x86
/moo-data-sheets/obj
/moo-data-sheets/moo-data-sheets_TemporaryKey.pfx
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/*.png
/moo-data-sheets/bin/x86
/Models/bin
/Models/obj
/UnitTestModels/bin/x86/Debug
*.pfx
/UnitTestModels/obj
/moo-data-sheets/Assets/ship_modules/*.png
/moo-data-sheets/Assets/tactical/*.png
/moo-data-sheets/Assets/tooltip/*.png
/moo-data-sheets/Assets/ships/**/*.png
*.user
