################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/bin/x86
/moo-data-sheets/obj
/moo-data-sheets/moo-data-sheets_TemporaryKey.pfx
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_volcanic.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_tundra.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_tropical.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_toxic.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_terran.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_swamp.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_radiated.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_ocean.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_inferno.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_grassland.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_gas_giant.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_gaia.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_desert.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_cavernous.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_barren.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_arid.png
/moo-data-sheets/bin/x86
/Models/bin
/Models/obj
/UnitTestModels/bin/x86/Debug
*.pfx
/UnitTestModels/obj
/moo-data-sheets/Assets/ship_modules/rangemaster_targeting_unit.png
/moo-data-sheets/Assets/ship_modules/quantum_detonator.png
/moo-data-sheets/Assets/ship_modules/pulson_missile_mod.png
/moo-data-sheets/Assets/ship_modules/pulson_missile.png
/moo-data-sheets/Assets/ship_modules/pulsar.png
/moo-data-sheets/Assets/ship_modules/proton_torpedo_mod.png
/moo-data-sheets/Assets/ship_modules/proton_torpedoes.png
/moo-data-sheets/Assets/ship_modules/positronic_computer.png
/moo-data-sheets/Assets/ship_modules/plasma_web.png
/moo-data-sheets/Assets/ship_modules/plasma_torpedo_mod.png
/moo-data-sheets/Assets/ship_modules/plasma_torpedoes.png
/moo-data-sheets/Assets/ship_modules/plasma_cannon_mod.png
/moo-data-sheets/Assets/ship_modules/plasma_cannon.png
/moo-data-sheets/Assets/ship_modules/phasors_mod.png
/moo-data-sheets/Assets/ship_modules/phasors.png
/moo-data-sheets/Assets/ship_modules/phasing_cloak.png
/moo-data-sheets/Assets/ship_modules/optronic_computer.png
/moo-data-sheets/Assets/ship_modules/nuclear_missile.png
/moo-data-sheets/Assets/ship_modules/nuclear_drive.png
/moo-data-sheets/Assets/ship_modules/nuclear_bomb.png
/moo-data-sheets/Assets/ship_modules/neutron_blaster_mod.png
/moo-data-sheets/Assets/ship_modules/neutron_blaster.png
/moo-data-sheets/Assets/ship_modules/neutronium_bomb.png
/moo-data-sheets/Assets/ship_modules/neutronium_armor.png
/moo-data-sheets/Assets/ship_modules/multiwave_ecm_jammer.png
/moo-data-sheets/Assets/ship_modules/multiphased_shield.png
/moo-data-sheets/Assets/ship_modules/moleculartronic_computer.png
/moo-data-sheets/Assets/ship_modules/moduler_device_mod.png
/moo-data-sheets/Assets/ship_modules/miniaturization_torpedoes.png
/moo-data-sheets/Assets/ship_modules/miniaturization_missilies.png
/moo-data-sheets/Assets/ship_modules/miniaturization_cannons.png
/moo-data-sheets/Assets/ship_modules/miniaturization_bombs.png
/moo-data-sheets/Assets/ship_modules/miniaturization_beams.png
/moo-data-sheets/Assets/ship_modules/merculite_missile_mod.png
/moo-data-sheets/Assets/ship_modules/merculite_missile.png
/moo-data-sheets/Assets/ship_modules/mauler_device.png
/moo-data-sheets/Assets/ship_modules/mass_driver_mod.png
/moo-data-sheets/Assets/ship_modules/mass_driver.png
/moo-data-sheets/Assets/ship_modules/lightning_field.png
/moo-data-sheets/Assets/ship_modules/laser_cannon_mod.png
/moo-data-sheets/Assets/ship_modules/laser_cannon.png
/moo-data-sheets/Assets/ship_modules/iridium_fuel_cells.png
/moo-data-sheets/Assets/ship_modules/ion_pulse_mod.png
/moo-data-sheets/Assets/ship_modules/ion_pulse_cannon.png
/moo-data-sheets/Assets/ship_modules/ion_drive.png
/moo-data-sheets/Assets/ship_modules/interphased_drive.png
/moo-data-sheets/Assets/ship_modules/inertial_stabilizer.png
/moo-data-sheets/Assets/ship_modules/inertial_nullifier.png
/moo-data-sheets/Assets/ship_modules/hyper_drive.png
/moo-data-sheets/Assets/ship_modules/hyperx_capacitors.png
/moo-data-sheets/Assets/ship_modules/highenergy_focus.png
/moo-data-sheets/Assets/ship_modules/heavy_fighter_bays.png
/moo-data-sheets/Assets/ship_modules/heavy_armor.png
/moo-data-sheets/Assets/ship_modules/hard_shield.png
/moo-data-sheets/Assets/ship_modules/gyro_destabilizer.png
/moo-data-sheets/Assets/ship_modules/graviton_beam_mod.png
/moo-data-sheets/Assets/ship_modules/graviton_beam.png
/moo-data-sheets/Assets/ship_modules/gauss_cannon_mod.png
/moo-data-sheets/Assets/ship_modules/gauss_cannon.png
/moo-data-sheets/Assets/ship_modules/fusion_drive.png
/moo-data-sheets/Assets/ship_modules/fusion_bomb.png
/moo-data-sheets/Assets/ship_modules/fusion_beam_mod.png
/moo-data-sheets/Assets/ship_modules/fusion_beam.png
/moo-data-sheets/Assets/ship_modules/fighter_bays.png
/moo-data-sheets/Assets/ship_modules/fast_missile_racks.png
/moo-data-sheets/Assets/ship_modules/energy_absorber.png
/moo-data-sheets/Assets/ship_modules/electronic_computer.png
/moo-data-sheets/Assets/ship_modules/eel_torpedo.png
/moo-data-sheets/Assets/ship_modules/eel_sprint.png
/moo-data-sheets/Assets/ship_modules/eel_lightning_field.png
/moo-data-sheets/Assets/ship_modules/eel_lightning.png
/moo-data-sheets/Assets/ship_modules/eel_bomb.png
/moo-data-sheets/Assets/ship_modules/ecm_jammer.png
/moo-data-sheets/Assets/ship_modules/dragon_sprint.png
/moo-data-sheets/Assets/ship_modules/dragon_parasite.png
/moo-data-sheets/Assets/ship_modules/dragon_missile.png
/moo-data-sheets/Assets/ship_modules/dragon_fireball.png
/moo-data-sheets/Assets/ship_modules/dragon_bomb.png
/moo-data-sheets/Assets/ship_modules/dragon_bite.png
/moo-data-sheets/Assets/ship_modules/disruptor_cannon_mod.png
/moo-data-sheets/Assets/ship_modules/disruptor_cannon.png
/moo-data-sheets/Assets/ship_modules/displacement_device.png
/moo-data-sheets/Assets/ship_modules/deuterium_fuel_cells.png
/moo-data-sheets/Assets/ship_modules/death_spores.png
/moo-data-sheets/Assets/ship_modules/death_ray.png
/moo-data-sheets/Assets/ship_modules/dauntless_guidance_system.png
/moo-data-sheets/Assets/ship_modules/cybertronic_computer.png
/moo-data-sheets/Assets/ship_modules/cloaking_device.png
/moo-data-sheets/Assets/ship_modules/class_x_shield.png
/moo-data-sheets/Assets/ship_modules/class_v_shield.png
/moo-data-sheets/Assets/ship_modules/class_vii_shield.png
/moo-data-sheets/Assets/ship_modules/class_i_shield.png
/moo-data-sheets/Assets/ship_modules/class_iii_shield.png
/moo-data-sheets/Assets/ship_modules/bomber_bays.png
/moo-data-sheets/Assets/ship_modules/black_hole_generator.png
/moo-data-sheets/Assets/ship_modules/bio_terminator.png
/moo-data-sheets/Assets/ship_modules/battle_scanner.png
/moo-data-sheets/Assets/ship_modules/battle_pods.png
/moo-data-sheets/Assets/ship_modules/automated_repair_unit.png
/moo-data-sheets/Assets/ship_modules/augmented_engines.png
/moo-data-sheets/Assets/ship_modules/assault_shuttles.png
/moo-data-sheets/Assets/ship_modules/anti_matter_torpedoes_mod.png
/moo-data-sheets/Assets/ship_modules/antimissile_rockets.png
/moo-data-sheets/Assets/ship_modules/antimatter_torpedoes.png
/moo-data-sheets/Assets/ship_modules/antimatter_drive.png
/moo-data-sheets/Assets/ship_modules/antimatter_bomb.png
/moo-data-sheets/Assets/ship_modules/amoeba_pulsar.png
/moo-data-sheets/Assets/ship_modules/amoeba_plasma_web.png
/moo-data-sheets/Assets/ship_modules/amoeba_lightning_field.png
/moo-data-sheets/Assets/ship_modules/amoeba_bomb.png
/moo-data-sheets/Assets/ship_modules/adamantium_armor.png
/moo-data-sheets/Assets/ship_modules/acutronium_armor.png
/moo-data-sheets/Assets/ship_modules/achilles_targeting_unit.png
/moo-data-sheets/Assets/ship_modules/zortrium_armor.png
/moo-data-sheets/Assets/ship_modules/zeon_missile_mod.png
/moo-data-sheets/Assets/ship_modules/zeon_missile.png
/moo-data-sheets/Assets/ship_modules/xentronium_armor.png
/moo-data-sheets/Assets/ship_modules/worker1.png
/moo-data-sheets/Assets/ship_modules/wide_area_jammer.png
/moo-data-sheets/Assets/ship_modules/warp_facilitator.png
/moo-data-sheets/Assets/ship_modules/warp_dissipater.png
/moo-data-sheets/Assets/ship_modules/urridium_fuel_cells.png
/moo-data-sheets/Assets/ship_modules/tritanium_armor.png
/moo-data-sheets/Assets/ship_modules/transporters.png
/moo-data-sheets/Assets/ship_modules/tractor_beam.png
/moo-data-sheets/Assets/ship_modules/titanium_armor.png
/moo-data-sheets/Assets/ship_modules/thorium_fuel_cells.png
/moo-data-sheets/Assets/ship_modules/subspace_teleporter.png
/moo-data-sheets/Assets/ship_modules/structural_analyzer.png
/moo-data-sheets/Assets/ship_modules/stellar_converter.png
/moo-data-sheets/Assets/ship_modules/stealth_field.png
/moo-data-sheets/Assets/ship_modules/stasis_field.png
/moo-data-sheets/Assets/ship_modules/standard_reactor.png
/moo-data-sheets/Assets/ship_modules/squid_sprint.png
/moo-data-sheets/Assets/ship_modules/squid_missiles.png
/moo-data-sheets/Assets/ship_modules/squid_melee.png
/moo-data-sheets/Assets/ship_modules/squid_bomb.png
/moo-data-sheets/Assets/ship_modules/shield_capacitor.png
/moo-data-sheets/Assets/ship_modules/scout_lab.png
/moo-data-sheets/Assets/ship_modules/scanner_beacon.png
/moo-data-sheets/Assets/ship_modules/reinforced_hull.png
*.user
