################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/Assets/planets/planet_volcanic.png
/moo-data-sheets/Assets/planets/planet_tundra.png
/moo-data-sheets/Assets/planets/planet_tropical.png
/moo-data-sheets/Assets/planets/planet_toxic.png
/moo-data-sheets/Assets/planets/planet_terran.png
/moo-data-sheets/Assets/planets/planet_swamp.png
/moo-data-sheets/Assets/planets/planet_radiated.png
/moo-data-sheets/Assets/planets/planet_ocean.png
/moo-data-sheets/Assets/planets/planet_inferno.png
/moo-data-sheets/Assets/planets/planet_grassland.png
/moo-data-sheets/Assets/planets/planet_gas_giant.png
/moo-data-sheets/Assets/planets/planet_gaia.png
/moo-data-sheets/Assets/planets/planet_desert.png
/moo-data-sheets/Assets/planets/planet_cavernous.png
/moo-data-sheets/Assets/planets/planet_barren.png
/moo-data-sheets/Assets/planets/planet_arid.png
/moo-data-sheets/bin/x86
/moo-data-sheets/obj
/moo-data-sheets/moo-data-sheets_TemporaryKey.pfx
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_volcanic.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_tundra.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_tropical.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_toxic.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_terran.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_swamp.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_radiated.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_ocean.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_inferno.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_grassland.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_gas_giant.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_gaia.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_desert.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_cavernous.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_barren.png
/moo-data-sheets/bin/x86/Debug/AppX/Assets/planets/planet_arid.png
/moo-data-sheets/bin/x86
/Models/bin
/Models/obj
/UnitTestModels/bin/x86/Debug
*.pfx
/UnitTestModels/obj
